.filtrarTarefa {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  align-items: start;
  align-items: start;
}

.filtrarTarefa h1 {
  grid-column: 1 / -1;
}

.formStatus {
  display: grid;
  gap: 0.3rem;
  justify-items: start;
}

.formStatus label {
  color: #fff;
  font-weight: 400;
}

.formStatus select {
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  display: block;
  border: 2px solid #fff;
  min-width: 300px;
}

.formStatus select:hover,
.formStatus select:focus {
  outline: none;
  border-color: #001e4c;
  box-shadow: 0 0 0 1px #fff;
}

.ordenar {
  display: grid;
  align-items: start;
  gap: 0.5rem;
}

.ordenar h3 {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
}

.ordenarBtns {
  display: flex;
  gap: 0.5rem;
}

.ordenarBtns button {
  display: block;
  padding: 0.2rem 0.5rem;
  color: #fff;
  font-size: 0.9rem;
  background: #001e4c;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.ordenarBtns button:hover {
  box-shadow: 0 0 0 1px #fff;
}
